body { text-align: center; font-family: Arial; background: #ffe6f0; }

.hidden {display: none;
        }

img { max-width: 40%; margin: 20px 0; }

button { padding: 15px 30px; 
        font-size: 18px; 
        cursor: pointer; 
        border-radius: 8px; }

#button-container { position: relative;
                   width: 400px;
                   height: 200px;
                   margin: 10px auto 0 auto;
                  }

#yes-btn, #no-btn { position: absolute; 
                  padding: 15px 30px;
                  font-size: 18px;
                  cursor: pointer; 
                  border-radius: 8px;
                 }

#yes-btn { left: 110px;
          top: 40px;
         }

#no-btn { left: 220px;
        top: 40px;
         transition: all 0.2s ease;
        }

#letter-page { text-align: center;
              position: relative;
              min-height: 100vh;
                      overflow: hidden;
             }

#game { width:300px; height:300px; 
       background:#222; 
       margin:20px auto; 
       position:relative; 
       border:2px solid white; }

#player { width:20px; height:20px; background:yellow; position:absolute; top:0; left:0; }
